@font-face {
    src: url('fonts/Lato-Reg.otf');
}

.root {
    -fx-font-family: "Lato-Bold";
    -fx-font-size: 12px;
}

.background {
    -fx-background-color: #fff;
}

.textBackground{
    -fx-background-color:#FFFFFF;
}

.grayBackground{
    -fx-background-color:
            linear-gradient(#1F2226, #141518),
            radial-gradient(center 50% -40%, radius 200%, #1F2226 45%, #141518 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

.tileBackgroundColour{
    -fx-background-color:#2a2a2a;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
}

.timerBackground{
    -fx-background-image: url("image.png");
    -fx-background-color: #2a2a2a
}

.timerBackgroundParent{
    -fx-background-color: #2a2a2a;
    -fx-background-radius: 6, 5;
            -fx-background-insets: 0, 1;
            -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );

}

.heading {
    -fx-font-size: 26px;
}

.subheading {
    -fx-font-size: 18px;
}