@font-face {
    src: url('fonts/Lato-Reg.otf');
}

.root {
    -fx-font-family: "Lato-Bold";
    -fx-font-size: 14px;
}

.background {
    -fx-background-color: linear-gradient(#00003E, black);
    /*686858*/
}

.textBackground{
    -fx-background-color:#FFFFFF;
}

.grayBackground{
    /*-fx-background-color:#00003E;*/
    -fx-background-color:
            linear-gradient(#1F2226, #141518),
            radial-gradient(center 50% -40%, radius 200%, #1F2226 45%, #141518 50%);
        -fx-background-radius: 6, 5;
        -fx-background-insets: 0, 1;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
        -fx-text-fill: #ffffff;
}

.tileBackgroundColour{
    -fx-background-color:#2a2a2a;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
}

.tabBackgroundColour{
     background: white;
    -fx-text-fill: white;
}

.scheduleBackground{
    -fx-background-color: #00003E, #000000;
    -fx-fill-mode: gradient-vertical;
}