.tab-pane
 {
     -fx-tab-min-width:90px;
 }
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #fff;
}

.tab-pane .tab
{
    -fx-background-color: #2a2a2a;

}

.tab-pane .tab:selected
{
    -fx-background-color: #37b3fc;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #fff;
}